body {
    background-color: #f5f8fa;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}


/*
    ================
    HEADER
    ================
*/

header {
    width: 100%;
    height: 47px;
}

.nav {
    background-color: #fff;
    border-bottom: 1px solid #d0d3d5;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    height: 47px;
    z-index: 5;
}

.logo {
    background-image: url(../images/Twitter_Logo_Blue.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    position: absolute;
    top: 10.5px;
    left: 48.9%;
    width: 30px;
    height: 25px;
}

.nav-action {
    height: 45.5px;
}

.nav-action:first-child {
    width: 330px;
    margin-left: 80px;
}

.nav-social {
    font-size: 13px;
    color: #66757f;
    text-decoration: none;
    display: inline-block;
    position: relative;
    height: 45.5px;
    margin-right: -4.5px;
    padding: 11px 0 0 15px;
}

.circle {
    background-color: #300000;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 6px;
    width: 6px;
    height: 6px;
}

.nav-social i {
    font-size: 20px;
    margin-right: 5px;
}

.nav-social:first-child {
    width: 88px;
    border-bottom: 4px solid #300000;
}

.nav-social:nth-child(2) {
    width: 125px;
}

.nav-social:last-child {
    width: 115px;
}

.nav-social:hover {
    color: #300000;
    border-bottom: 4px solid #300000;
}

.nav-action:last-child {
    width: 375px;
    margin-right: 92px;
}

.search-input {
    display: inline-block;
    position: relative;
    top: -7px;
}

.search-input input {
    background-color: #f5f8fa;
    font-size: 12px;
    color: #333;
    border: 1px solid #e6ecf0;
    border-radius: 40px;
    width: 221px;
    margin-right: 10px;
    padding: 8px 28px 8px 12px;
    outline: none;
}

.search-input i {
    font-size: 14px;
    color: #66757f;
    position: absolute;
    top: 8px;
    right: 20px;
    cursor: pointer;
}

.nav-action:last-child img {
    border: 1px solid #e6ecf0;
    border-radius: 50%;
    position: relative;
    top: 6px;
    height: 34px;
    margin-right: 7px;
}

#tweet {
    background-color: #593333;
    font-size: 13px;
    color: #fff;
    border: 2px solid white;
    border-radius: 5px;
    width: 94px;
    height: 36px;
    position: relative;
    top: -8px;
    transition: 0.3s;
    outline-color: #977f7f;
    cursor: pointer;
}

#tweet:hover {
    background-color: #191919;
}

#tweet i {
    vertical-align: middle;
    font-size: 24px;
}

#tweet span {
    position: relative;
    top: 2px;
}


/*
    ================
    LEFT DASHBOARD
    ================
*/

.wrapper {
    position: relative;
    top: 46px;
    width: 1190px;
    padding: 10px 0;
    margin: auto;
}

.dashboard:first-child {
    position: relative;
    width: 290px;
    height: auto;
    margin-right: 10px;
}


/*
    =================
    USER INFO SECTION
    =================
*/

.user-info {
    position: relative;
    width: 100%;
    height: 195px;
}

.user-banner {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    height: 95px;
    overflow: hidden;
}

img[alt="background"] {
    position: relative;
    top: -35px;
    left: -1px;
    height: 164px;
}

.user-banner a:nth-child(2) {
    border: 3px solid #fff;
    border-radius: 5px;
    position: absolute;
    top: 66px;
    left: 9px;
    width: 74px;
    height: 74px;
}

.user-banner a:nth-child(2) img {
    height: 100%;
}

.user-insights {
    background: #fff;
    border-right: 1px solid #e6ecf0;
    border-left: 1px solid #e6ecf0;
    border-bottom: 1px solid #e6ecf0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100px;
    padding: 10px 23px 0 11px;
}

.user-insights h1 {
    font-size: 18px;
    color: #000;
    position: relative;
    top: -10px;
    left: 79px;
    width: 130px;
    margin: 10px 0;
}

.user-insights a {
    text-decoration: none;
}

.user-insights a:hover {
    text-decoration: underline;
}

.user-insights a:nth-child(2) {
    font-size: 14px;
    color: #657786;
    position: relative;
    top: -21px;
    left: 79px;
}

.insight-details {
    position: relative;
    top: -12px;
}

.insights {
    display: inline-block;
    width: 78px;
}

.insights span:first-child {
    font-size: 10px;
    color: #657786;
    display: block;
    margin-bottom: 2px;
}

.insights span:last-child {
    font-size: 18px;
}


/*
    ========================
    WORLDWIDE TRENDS SECTION
    ========================
*/

.worldwide-trends {
    background: #fff;
    border: 1px solid #e6ecf0;
    border-radius: 5px;
    position: relative;
    margin: 10px 0;
    padding: 15px;
}

.worldwide-trends h2,
.follow h2 {
    font: 18px normal, sans-serif;
    color: #66758f;
    display: inline-block;
    margin: 2px 0 8px 0;
}

.worldwide-trends a,
.follow a {
    font-size: 13px;
    color: #300000;
    text-decoration: none;
}

.hashtag {
    margin-bottom: 10px;
    cursor: pointer;
}

.hashtag:last-child {
    margin: 0;
}

.hashtag a:first-child {
    font-weight: bold;
    display: block;
    margin-bottom: 1px;
}

.hashtag a:first-child:hover {
    text-decoration: underline;
}

.hashtag a:nth-child(2) {
    color: #657789;
}

.hashtag img[alt="MTV award emoji"] {
    position: absolute;
    height: 16px;
    top: 45px;
    left: 96px;
}


/*
    ========================
    MAIN CONTENT
    ========================
*/

.main-content {
    display: inline-block;
    width: 590px;
    height: auto;
    margin-right: 10px;
}

.tweet-container {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #e6ecf0;
    position: relative;
    width: 100%;
    margin-bottom: 8px;
}

.tweet {
    background-color: #eae5e5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 58px;
    padding: 10px 12px 10px 28px;
}

img[alt="Annia J. Flores"] {
    border-radius: 3px;
    position: relative;
    top: 3px;
    height: 32px;
}

.tweet div {
    position: relative;
    width: 508px;
}

.tweet div input {
    font-size: 14px;
    border: 1px solid #cbbfbf;
    border-radius: 3px;
    padding: 10px;
    margin: auto 0;
    width: 508px;
    color: #000;
    outline: none;
}

.tweet div ::-webkit-input-placeholder {
    color: #300000;
}

.tweet div .fa-camera {
    font-size: 18px;
    color: #593333;
    position: absolute;
    top: 11px;
    right: 12px;
    cursor: pointer;
}

#more-tweets {
    background-color: #f5f8fa;
    color: #300000;
    border: none;
    border-top: 1px solid #e6ecf0;
    border-bottom: 1px solid #e6ecf0;
    padding: 11.5px 0;
    width: 100%;
    cursor: pointer;
}

#more-tweets:hover {
    background-color: #e6ecf0;
}

.tweets {
    background-color: #fff;
    position: relative;
    cursor: pointer;
}

.tweets div:first-child {
    height: 60px;
    padding: 12px 0 0 12px;
}

.tweet-container .fa-chevron-down {
    font-size: 12px;
    color: #afc7dc;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.media-content {
    height: auto;
    padding: 0 0 15px 71px;
    cursor: pointer;
}

.tweet-user {
    border-radius: 5px;
    height: 48px;
    margin-right: 10px;
}

.tweets h3 {
    font-size: 14px;
    color: #000;
    margin: 0;
    display: inline-block;
    position: relative;
    top: -3px;
}

.tweets h3:hover {
    text-decoration: underline;
}

.tweet-content img[alt="Small badge"] {
    position: relative;
    top: -1px;
    right: 3px;
    height: 14px;
}

.tweet-content span {
    font-size: 14px;
    color: #657789;
    position: relative;
    top: -3px;
    right: 4px;
}

.tweet-content {
    display: inline-block;
}

.tweets div:first-child p {
    font-size: 14px;
    color: #14171a;
    margin: 0;
    margin-bottom: 10px;
}

.tweets img[alt="MTV Award Emoji"] {
    position: relative;
    top: 2px;
    left: 2px;
    height: 17px;
}

.user-media {
    border-radius: 4px;
    width: 504px;
    margin-top: 19px;
}

.react-social {
    font-size: 12px;
    color: #aab8cd;
    display: inline-block;
    margin-top: 10px;
    margin-right: 44px;
}

.react-social:nth-child(2):hover {
    color: #1da1f2;
}

.react-social:nth-child(3) {
    margin-right: 30px;
}

.react-social:nth-child(3):hover {
    color: #02b875;
}

.react-social:last-child:hover {
    color: #ca3c25;
}

.react-social i {
    font-size: 18px;
    margin-right: 6px;
}

.react-social span {
    position: relative;
    top: -2px;
}

.missed-tweets-container {
    border: 1px solid #e6ecf0;
    border-radius: 5px;
    position: relative;
}

.missed-tweets-container div:first-child {
    background-color: #fff;
    font-size: 18px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 12px;
}

.missed-tweets-container .fa-chevron-down {
    font-size: 12px;
    color: #afc7dc;
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
}

.tweet-container .fa-chevron-down:hover,
.missed-tweets-container .fa-chevron-down:hover {
    color: #14171a;
}

.missed-tweets-container .tweets {
    border-top: 1px solid #e6ecf0;
}

.missed-tweets-container .user-media {
    margin: 0;
}


/*
    ================
    RIGHT DASHBOARD
    ================
*/

.dashboard:last-child {
    width: 290px;
    height: auto;
}

.follow,
footer {
    background: #fff;
    border: 1px solid #e6ecf0;
    border-radius: 5px;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
}

.follow h2 {
    margin-top: 1px;
    margin-bottom: 10px;
}

.follow a {
    font-size: 12px;
}

.follow a:hover,
.follow-user h3:hover {
    text-decoration: underline;
}

.follow-user {
    margin-bottom: 12px;
}

.follow-user:nth-child(3) {
    margin-bottom: 10px;
}

.follow-user img:first-child {
    border-radius: 5px;
    height: 48px;
    margin-right: 10px;
}

.follow-user .tweet-content h3 {
    color: #14171a;
    display: inline-block;
    position: relative;
    top: -1px;
    margin: 0;
}

.follow-user .tweet-content img {
    position: relative;
    top: 1px;
}

.follow-user .tweet-content span:nth-child(4) {
    position: relative;
    top: -1px;
}

.follow-user button {
    background-color: #fcfdfd;
    font-weight: bold;
    color: #14171a;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    display: block;
    position: relative;
    top: 2px;
    width: 89px;
    height: 29px;
    padding: 5px;
}

.follow-user .fa-user-plus {
    color: #1da1f2;
    margin-right: 8px;
}

.tweet-content .exit {
    font-size: 22px;
    color: #cdd7dd;
    position: absolute;
    right: 14px;
    cursor: pointer;
}

.user-1 .exit {
    top: 43px;
}

.user-2 .exit {
    top: 102px;
}

.user-3 .exit {
    top: 161px;
}


/*
    ================
    FOOTER
    ================
*/

footer {
    padding: 0;
}

footer span,
footer a {
    font-size: 12px;
    color: #657786;
    line-height: 14px;
    text-decoration: none;
    margin-right: 4px;
}

footer a:hover {
    color: #360000;
    text-decoration: underline;
}

footer div:first-child {
    padding: 15px;
}

footer div:last-child {
    background-color: #f5f8fa;
    border-top: 1px solid #e6ecf0;
    padding: 13px 15px 15px 15px;
}

footer div:last-child a {
    color: #360000;
}

.left {
    float: left;
}

.right {
    float: right;
}